@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:"Inter",sans-serif;
}
:root{
    --main-color : #fcb700;
    --dark-color : #222222;
    --parg-color : #666666;
    --dark-red : #d01418;
    --border-color : #6666662a;
    --name-item : #0066c0;
}
body{
    background-color: #f5f6f9;
    margin-top: 170px;
}
span{
    color: var(--main_color);
}
p{
    color: var(--parg-color);
}
h1,h2,h3,h4,h5,h6{
    color: var(--dark-color);
    font-family: "DM Sans",sans-serif;
}
.container{
    width: 90%;
    margin: auto;
    max-width: 1350px;  
}
@media (max-width: 1350px) {
    .container{
        width: 90%;
    }
}
input,button,select{
    border: none;
    outline: none;
    background:none;
}
/* //////////////////start-top-header//////////////////// */
header{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.top-header-conent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 ;
}
.top-header-conent .logo img{
    width: 150px;
}
.top-header-conent .search{
    border: 2px solid var(--main-color);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 500px;
}
.top-header-conent  .search input{
    padding: 18px 175px 18px 20px;
    width: 100%;
}
.top-header-conent  .search button{
    background-color: var(--main-color);
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: 18px;
    width: 170px;
    height: 100%;
    right: 0;
    top: 0;
}
.header-cart{
    align-items: center;
    display: flex;
    gap: 10px;
}
.icon-cart i{
    border: 1px solid var(--border-color);
    color: var(--dark-color);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transition: .5s;
    font-size: 18px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.icon-cart i:hover{
    background-color: var(--main-color);
    color: #fff;
}
.icon-cart{
    position: relative;
}
.icon-cart .count{
    border: 1px solid var(--border-color);
    background-color: var(--main-color);
    color: var(--dark-color);
    position: absolute;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
    font-size: 13px;
    height: 20px;
    width: 20px;
    right: 0px;
    top: -5px;
}
/* //////////////////end-top-header//////////////////// */
/* /////////////////////start-bottom-header\\\\\\\\\\\\\\\\\ */
nav{
    border-top: 1px solid var(--border-color);
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links .nav-item{
    display: flex;
    gap: 30px;
}
.links .nav-item li{
    position: relative;
    padding: 15px;
}
.nav-item li a{
    color: var(---heading-color);
    text-transform: uppercase;
    transition: .5s;
}
.nav-item li .activ , .nav-item li a:hover{
    color: var(--main-color);
}
.nav-item li .activ-item::before{
    transform: scale3d(1,0,1);
    border-width: 0 2px;
    height: 100%;
    width: 98%;
}
.nav-item li .activ-item::after{
    transform: scale3d(0,1,1);
    border-width: 2px 0;
    width: 100%;
    height: 91%;
}
.nav-item li .activ-item::after,.nav-item li .activ-item::before{
    border-color: var(--main-color);
    transition: transform .8s;
    border-style: solid;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
}
.nav-item li .activ-item:hover::after,.nav-item li .activ-item:hover:before{
    transform: scale3d(1,1,1);
}
.nav-button button{
    background-color: var(--main-color);
    border-radius: 5px;
    margin-left: 7px;
    transition: .5s;
    cursor: pointer;
    height: 40px;
    width: 155px;
}
.nav-button button:hover{
    scale: 1.1;
}
.nav-button button a{
    font-size: 15px;
    color: white;
}
.nav-button button a i{
    margin-left: 3px;
}
/* /////////////////////end-bottom-header\\\\\\\\\\\\\\\\\ */

/* /////////////////////start-cart\\\\\\\\\\\\\\\\\ */
.cart{
    border-left: 1px solid var(--border-color);
    justify-content: space-between;
    text-transform: capitalize;
    background-color: #fff;
    flex-direction: column;
    transition: .5s;
    position: fixed;
    padding: 30px ;
    z-index: 1100;
    display: flex;
    right: -400px;
    width: 400px;
    bottom: 0;
    top: 0;
}
.cart.active{
    right: 0;
}
.cart .top-cart{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.cart .top-cart h3{
    font-size: 18px;
}
.cart .top-cart h3 span i{
    color: var(--parg-color);
    font-weight: normal;
    font-size: 14px;
}
.cart .top-cart .close  i{
    font-size: 35px;
    cursor: pointer;
}

.cart .item-in-cart{
    border-block: 1px solid var(--border-color);
    margin-block: 20px;
    padding: 20px  0 ;
    height: 100%
}
.cart .item-cart{
    display: flex;
    gap: 20px;
    /* text-align: center; */
    justify-content: space-between;
}
.cart .item-cart img{
    width: 100px;
}
.cart .item-cart h4{
    margin-bottom: 10px;
    font-weight: 400;
}
.cart .item-cart .delete-item i{
    font-size: 22px;
    cursor: pointer;
    transition: .5s;
}
.cart .item-cart .delete-item i:hover{
    color: var(--dark-red);
    transform: scale(1.2);
}



.cart .bottom-cart .total{
    justify-content: space-between;
    margin-bottom: 30px;
    display: flex;
}
.cart .button-cart{
    flex-direction: column;
    display: flex;
    gap: 20px;
}
.cart .button-cart .btn-cart{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--dark-color);
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    padding: 15px  0;
    transition: .5s ;
    font-size: 16px;
    cursor: pointer;
}
.cart .button-cart .btn-cart:hover{
    background-color: transparent;
}
/* <!-- /////////////////////end-cart\\\\\\\\\\\\\\\\\\\\ --> */
/* <!-- /////////////////////start-slider\\\\\\\\\\\\\\\\\\\\ --> */
.slider .container{
    display: flex;
    justify-content: space-between;
}
.slider .container .side-bar{
    background-color: white;
    flex-direction: column;
    display: flex;
    width: 300px;
}
.slider .container .side-bar h2{
    color: var(---heading-color);
    padding: 15px 15px;
    text-align: center;
    cursor: pointer;
    display: flex;
    gap: 20px;
    
}
.slider .container .side-bar h2 i{
    line-height: 33px;
}
.slider .container .side-bar a{
    border-top: 1px solid var(--border-color);
    color: var(--dark-color);
    font-weight: 500;
    transition: .5s;
    padding: 15px;
}
.slider .container .side-bar a:hover{
    background-color: var(--main-color);
    color: white;
}
.slider .container .slider-swp{
    position: relative;
    overflow: hidden;
    width: 1000px;
}
.slider .container .slider-swp  img{
    height: 100%;
    width: 100%;
}
.slider .container .slider-swp .swiper-pagination span{
    background-color: #fff;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--main-color) !important;
    border-radius: 30px !important;
    width: 35px !important;
    height: 8px !important;
}
/* <!-- /////////////////////end-slider\\\\\\\\\\\\\\\\\\\\ --> */
/* <!-- /////////////////////start-features\\\\\\\\\\\\\\\\\\\\ --> */
.features{
    margin: 50px 0;
}
.features .container{
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 20px;
    flex-wrap: wrap;
    display: flex;
}
.features .container .feature-item{
    align-items: center;
    min-width: 200px;
    display: flex;
    width: 18%;
    gap: 20px;
}
.features .container .feature-item-1{
    border-right: 1px solid var(--border-color);
}
.features .container .feature-item img{
    width: 50px;
}
.features .container .feature-item h4{
    margin-bottom: 8px;
    font-size: 15px;
}
.features .container .feature-item p{
    font-size: 12px;
}
/* <!-- /////////////////////end-features\\\\\\\\\\\\\\\\\\\\ --> */
/* <!-- /////////////////////start-banner\\\\\\\\\\\\\\\\\\\\ --> */
.banner .container{
    justify-content: space-between;
    display: flex;
}
.banner .container .banner-img{
    position: relative;
    width: 32%;
}
.banner .container .banner-img img{
    width: 100%;
}
.banner .glass-hover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.banner .glass-hover::after{
    background: linear-gradient(50deg , transparent 50% , rgba(255,255,255,0.1) 60% , rgba(255,255,255,0.5) 70% , transparent 71%);
    background-size: 200% 100%;
    background-position: 200% 0;
    position: absolute;
    transition: 2s;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
}
.banner .banner-img:hover .glass-hover::after{
    background-position: -20% 0;
}
.banner .container .banner-img a{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.banner-2 .container .banner-img{
    position: relative;
    width: 49%;
}
/* <!-- /////////////////////end-banner\\\\\\\\\\\\\\\\\\\\ --> */
/* <!-- /////////////////////start-slide\\\\\\\\\\\\\\\\\\\\ --> */
.slide{
    margin:50px 0 100px 0;
}
.slide .top-slide{
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    position: relative;
    padding: 20px 0;
}
.slide  .top-slide::after{
    background-color: var(--main-color);
    position: absolute;
    bottom: -1px;
    width: 96px;
    height: 2px;
    content: "";
    left: 0;
}
.slide .top-slide h2{
    text-transform: capitalize;
}
.slide .top-slide h2 span{
    font-weight: normal;
    color: var(--main-color);
}
                            /* start-cart-product */
.product{
    box-shadow: 5px 5px 10px #94949428  ;
    border: 1px solid var(--border-color);
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    padding: 20px 30px;  
    text-align: center;
    overflow: hidden;
    width: 25%;
    transition: .5s;
}
.product .sale-present{
    background-color: var(--dark-red);
    position: absolute;
    padding: 4px 12px;
    color: white;
    font-size: 14px;
    right: 20px;
    z-index: 2;
    top: 20px;
}
.product .img-product{
    position: relative;
}   
.product .img-product img{
    transition: .7s;
    width: 100%;
} 
.product .img-product .img-hover{
    position: absolute;
    width: 100%;
    opacity: 0;
    scale: .1;
    left: 0;
    top: 0;
}
.product:hover .img-product img{
    opacity: 0;
}
.product:hover .img-product .img-hover{
    opacity: 1;
    scale: 1;
}
.product .name-product{
    font-size: 16px;
}
.product .name-product a{
    color: var(--name-item);
}
.product .name-product a:hover{
    text-decoration: underline;
}
.product .stars{
    margin: 15px 0;
}
.product .stars i{
    color: var(--main-color);
}
.product .price{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}
.product .price p{
    color: var(--main-color);
    font-weight: bold;
}
.product .price .old-price{
    text-decoration: line-through;
    color: var(--parg-color);
    font-weight: normal;
    font-size: 13px;
}

.product:hover{
    scale: 1.1;
}
.product .icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: -80px;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
}
.product .icons i{
    color: var(--dark-color);
    border: 1px solid var(--border-color);
    background-color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.product .icons i:hover{
    background-color: var(--main-color);
}
.product:hover .icons{
    right: 20px;
}
.slide .container{
    position: relative;
}
.slide .container .mySwiper{
    overflow: hidden;
    padding: 10px;
}
.slide .container .mySwiper .btn-Swip{
    background-color: var(--main-color);
    position: absolute;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 0 18px;
    top: 35px;
    right: 0;
}
.slide .container .mySwiper .btn-Swip::after{
    font-size: 25px;
}
.slide .container .mySwiper .btn-Swip.swiper-button-prev{
    left: calc(100% - 90px);
}
/* <!-- /////////////////////end-slide\\\\\\\\\\\\\\\\\\\\ --> */
/* <!-- /////////////////////start-slide-2\\\\\\\\\\\\\\\\\\\\ --> */
.slide-product .product-swip{
    width: calc(100% - 300px);
}
.slide-product .product_swip{
    width: calc(100% - 300px);
}
.slide-product .slide-img{
    display: flex;
    justify-content: space-between;
}
.slide-product .categ-img{
    padding: 10px 0;
    width: 280px;
}
.slide-product .categ-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px ;
}
/* <!-- /////////////////////end-slide-2\\\\\\\\\\\\\\\\\\\\ --> */
/* <!-- /////////////////////start-footer\\\\\\\\\\\\\\\\\\\\ --> */
.back{
    width: 100%;
    background-color: #666666;
    padding: 20px;
    cursor: pointer;
}
.back p{
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
footer{
    background-color: #394150;
}
footer .container{
    justify-content: space-between;
    display: flex;
    padding: 40px 0;
}
footer .container .big-row{
    width: 30%;
}
footer .container .big-row .hotline{
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 10px;
}
footer .container .big-row .hotline i{
    font-size: 60px;
    color: var(--main-color);
}
footer .container .big-row .hotline h5{
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
footer .container .big-row .hotline h6{
    color: var(--main-color);
    font-size: 16px;
}
footer .container .big-row p{
    width: 90%;
    color: #b1b1b1;
    font-size: 14px;
    line-height: 1.5;
}
footer .container .row{
    width: 22%;
}
footer .container .row h4{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
footer .container .row .links{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 7px
}
footer .container .row .links a{
    color: #b1b1b1;
    font-size: 14px;
    position: relative;
    left: 0;
    transition: .5s;
}
footer .container .row .links a:hover{
    left: 8px;
    color: var(--main-color);
}
footer .bottom-footer{
    background-color: #202935;
}
footer .bottom-footer .container{
    padding: 20px 0;
    align-items: center;
}
footer .bottom-footer .container .payment{
    display: flex;
    gap: 10px;
}
footer .bottom-footer .container .payment img{
    filter: grayscale(100%);
    cursor: pointer;
    transition: .5s;
}
footer .bottom-footer .container .payment img:hover{
    filter: grayscale(0%);
}
/* <!-- /////////////////////end-footer\\\\\\\\\\\\\\\\\\\\ --> */
/* <!-- /////////////////////responsev\\\\\\\\\\\\\\\\\\\\ --> */
header .links ul .logo-menu,
header .links ul .btn-close-menu,
header .links .btn-open-menu,
header .links ul .bg-overlay{
    display: none;
}
@media (max-width: 1100px) {
    .nav-button button{
        width: 140px;
    }
    .links .nav-item{
        gap: 20px;
    }
    
}
@media (max-width: 1000px) {
    header .top-header-conent .search{
        width: 420px;
    }
    .links .nav-item{
        gap: 10px;
    }
    .slider .container .side-bar{
        display: none;
    }
    .slider .container .slider-swp{
        width: 100%;
    }
    .features .container .feature-item{
        margin-bottom: 10px;
        border-right: none;
        align-items: center;
    }
    footer .container{
        flex-wrap: wrap;
    }
    footer .container .row{
        width: 40%;
        margin-bottom: 20px;
    }
    footer .container .big-row{
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {
    body{
        margin-top: 240px;
    }
    header .top-header-conent{
        flex-wrap: wrap;
    }
    header .top-header-conent .search{
       order: 3;
       width: 80%;
       margin: 10px auto 0;
    }
    header .links{
        padding: 20px 0;
    }
    header .links ul{
        position: fixed;
        top: 0;
        left: -420px;    
        bottom: 0;
        background-color: #fff;
        flex-direction: column;
        gap: 20px;
        width: 400px;
        border-right: 1px solid var(--border-color);
        text-align: center;
        padding-top: 50px;
        transition: .5s;
    }
    header .links ul.active{
        left: 0;
    }
    header .links ul .logo-menu{
        width: 140px;
        margin:0 auto;
        display: block;
    }
    header .links ul .btn-close-menu{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        color: var(--main-color);
        display: block;
    }
    header .links .btn-open-menu{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    header .links ul .bg-overlay{
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: calc(100vw - 400px);
        background-color: #0000004d;
        transition: .5s;
    }
    header .links ul.active .bg-overlay{
        right: 0;
    }
    .banner-2{
        margin-bottom: 0;
    }
    .slide{
        margin-bottom: 30px;
    }
    .slide-product .categ-img{
        display: none;
    }
    .slide-product .product-swip , .slide-product .product_swip{
        width: 100%;
    }

}


@media (max-width: 500px) {
    header .top-header-conent .search{
        width: 100%;
    }
    header .top-header-conent .search input{
        padding: 13px 130px 13px 20px;
    }
    header .top-header-conent .search button{
        width: 120px;
        font-size: 14px;
    }
    header .links ul{
        width: 100%;
        left: -100%;
    }
    .cart{
        width: 100%;
        right: -100%;
    }
    .product .name-product a{
        font-size: 13px;
    }
    .product{
        padding: 15px 10px;
    }
    .top-slide h2{
        font-size: 16px;
    }
    footer .container .big-row{
        width: 100%;
    }
    footer .container .row{
        width: 100%;
    }
}
@media (max-width: 400px) {
    .nav-button button{
        width: 120px;
    }
    
}

/* ///////////////////check out page\\\\\\\\\\\\\\\\\\\\\\ */
.check_out_content{
    display: flex;
    justify-content: space-between;
}
.check_out .container .right_content,.left_content{
    background-color: #fff;
    height: 500px;
    width: 46%;
    /* padding-left: 20px; */
}
.check_out .container .left_content h2{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    border-radius: 5px  5px 0 0;
    text-transform: capitalize;
    background-color: var(--main-color);
}
.check_out .container .left_content label{
    display: block;
    padding-left: 20px;
    margin-top: 20px;
}
.check_out .container .left_content input{
    border: 1px solid var(--border-color);
    margin-top: 3px;
    padding: 5px;
    margin-left: 20px;
    height: 30px;
    width: 92%;
    transition: .5s;
}
.check_out .container .left_content input:focus{
    border-color: var(--main-color);
}
.check_out .container .left_content .coupon{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    border-radius:0;
    text-transform: capitalize;
    margin-top: 20px;
    background-color: var(--main-color);
}
/* ///////// */
.check_out .container .right_content h2{
    border-bottom: 1px solid var(--border-color);
    width: 94%;
    margin: auto;
    height: 50px;
    line-height: 50px;
    text-transform: capitalize;
}
.check_out .container .right_content .item_cart{
    display: flex;
    align-items: center;
}
.check_out .container .right_content .item_cart img{
    width: 150px;
}
.check_out .container .right_content .item_cart .content h4{
    margin-bottom: 15px;
    /* font-size: 20px; */
}
.check_out .container .right_content .total {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    width: 94%;
    margin: auto;
}
.check_out .container .right_content .total p{
    color: var(--dark-color);
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.check_out .container .right_content .btn_div{
    width: 90%;
    margin: auto;
}
.check_out .container .right_content .btn_div button{
    width: 100%;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--main-color);
    cursor: pointer;
    transition: .5s;
}
.check_out .container .right_content .btn_div button:hover{
    scale: 1.1;
}


@media (max-width: 1100px) {
    .check_out_content{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 200px;
    }
    .check_out .container .right_content, .left_content{
        width: 80%;
        margin-bottom:50px ;
    }
    
}
@media (max-width: 610px){
    .check_out .container .right_content .item_cart .content h4{
        font-size: 16px;
    }
    .check_out .container .right_content .item_cart img{
        width: 100px;
    }
}